@{
    ViewBag.Title = "Մեր մասին";
    Layout = "~/Views/Home/_LayoutPage.cshtml";
}

<h2 align="center">Մեր մասին</h2>
<hr class="contentDivider"/>
<div class="about_us_content">
    <p>Մեր հեռախոսահամարները</p>
    <p>+37494828688</p>
    <p>+37498341044</p>
</div>
