@model List<CarProject.Models.Post>
@{
    ViewBag.Title = "Index";
}

<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="style/style.css">
    <meta charset="utf-8">
    <title>Aboutcar</title>
</head>
<body>
    <a href=""><img class="logo" src="img/Logomakr_2izzap.png" align="left"></a>
    <a href=""><p class="aboutcar">Aboutcar</p></a>
    <a href="index.html" class="menu"><p align="center">Новые машины</p></a>
    <a href="page/marks.html" class="menu"><p align="center">Марки</p></a>
    <a href="" class="menu"><p align="center">Обзоры</p></a>
    <a href="" class="menu"><p align="center">Ретро машины</p></a>
    <a href="" class="menu"><p align="center">Самые</p></a>
    <a href="" class="menu"><p align="center">О нас</p></a>
    @foreach(var p in @Model)
    { 
    <div align="center">
        <a href="~/Home/Details/@p.id"><img src="@p.GeneralImage" class="photo"></a>
        <a class="link1" href="~/Home/Details/@p.id"><p class="text">@p.Title</p></a>
    </div>
    }

</body>
</html>