@{
    ViewBag.Title = "Index";
}

<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="style/style.css">
    <meta charset="utf-8">
    <title>Aboutcar</title>
</head>
<body>
    <a href=""><img class="logo" src="img/Logomakr_2izzap.png" align="left"></a>
    <a href=""><p class="aboutcar">Aboutcar</p></a>
    <a href="index.html" class="menu"><p align="center">Новые машины</p></a>
    <a href="page/marks.html" class="menu"><p align="center">Марки</p></a>
    <a href="" class="menu"><p align="center">Обзоры</p></a>
    <a href="" class="menu"><p align="center">Ретро машины</p></a>
    <a href="" class="menu"><p align="center">Самые</p></a>
    <a href="" class="menu"><p align="center">О нас</p></a>
    <div class="ver1">

    </div>
    <div class="ver2">
        <a href="page/1.html">
            <img src="img/Audi-rs-8-610x300.jpg" align="right" class="car">
            <h2 align="center" class="about">Новый Audi RS1 2017 модельного года</h2>
        </a>
    </div>
    <div class="ver3">
        <a href="page/2.html">
            <img src="img/SuzukiIgnis-3-610x300.jpg" align="left" class="car">
            <h2 align="center" class="about">Обновленный хэтчбек Suzuki Ignis 2017 года</h2>
        </a>
    </div>

    </div>
</body>
</html>