@model List<CarProject.Models.Post>
@{
    ViewBag.Title = "Index";
}
<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="~/style.css">
    <meta charset="utf-8">
    <title>Aboutcar</title>
    <script type="text/javascript" src="http://code.jquery.com/jquery-1.9.1.min.js"></script>

</head>
<body>
    <h2>AdminPage</h2>

    <a href="~/Admin/Create">Create New Post</a>

    <div class="admin_postContent">

        @foreach (var p in @Model)
        {
            <div class="productContent">
                <a href="~/Admin/Details/@p.id"><img src="@p.GeneralImage" class="photo"></a>
                <a class="itemLink" href="~/Admin/Details/@p.id"><p class="text">@p.Title</p></a>
                <p class="deletePost">X</p>
            </div>
        }
    </div>

    <script type="text/javascript">
        $(document).ready(function () {
            $(function () {
                $('.deletePost').click(function () {
                    var str=$(this).closest('.productContent').children('.itemLink').attr('href');
                    var res = str.replace("Details", "Delete");

                    $.ajax({
                    type: 'POST',
                    url: res,
                        success: alert('Post Deleted!'),
                    cache:false
});
                });
            });
        })
    </script>

</body>
</html>
