<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" type="text/css" href="~/style.css">
    <script type="text/javascript" src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
    <script type="text/javascript" src="../script/jquery.waterwheelCarousel.js"></script>
    <link rel="stylesheet" href="http://www.w3schools.com/lib/w3.css">
    <link rel="shortcut icon" href="../images/favicon.ico">


</head>
<body>
    <div align="left">
        <a href="~/"><img src="~/images/icon.png" class="logo"></a>
    </div>
    <div align="right">
        <a href="https://vk.com/shoppointarmenia"><img src="~/images/vk.png" class="socialIcons"></a>
        <a href="https://web.facebook.com/Shoppoint-1812839695645145/" target="_blank"><img src="~/images/fb.png" class="socialIcons"></a>
        <a href=""><img src="~/images/inst.png" class="socialIcons"></a>
    </div> 
    <ul class="topMenu">
        <li class="menuItem"><a href="~/">Գլխավոր</a></li>
        <li class="menuItem"><a href="~/Home/Index/1">Նորություններ</a></li>
        <li class="menuItem"><a href="~/Home/Index/3">Ժամեր</a></li>
        <li class="menuItem"><a href="~/Home/Index/5">Նվերներ</a></li>
        <li class="menuItem"><a href="~/Home/Index/4">Թոփ 10</a></li>
        <li class="menuItem"><a href="~/Home/About/">Մեր մասին</a></li>
    </ul>
    <div>
        @RenderBody()
    </div>
    <div class="footer">
        <div id="copyright_footer">"ShopPoint Armenia" All Rights Reserved © 2017</div>
    </div>
</body>
</html>
