@{
    ViewBag.Title = "Մեր մասին";
    Layout = "~/Views/Home/_LayoutPag.Mobile.cshtml";
}

<h2 align="center">Մեր մասին</h2>
<hr class="contentDivider" />
<div align="center" class="about_us_content">

    <h3>Մեր հեռախոսահամարները</h3>

    <div class="viberLogo"><img src="~/images/watsap_viber.png" width="60px" height="30px" /></div><p>+37498341044, +37494828688</p>
    <br />
    <h3>Առաջարնությունների դիմում-բողոքների դեպքում գրեք մեր Էլ հասցեին</h3>
    <div class="gmailLogo"><img src="~/images/gmail_Logo.png" width="30" height="20px" /></div>davit.harutyunyan1996@gmail.com
    <br />
    <h3>Մենք սոցցանցերում</h3>
    <div class="vkLogo"><img src="~/images/fb.png" width="20" height="20px" /></div> /ShoppointArmenia<br />
    <div class="allVkLogo"><div class="vkLogo"><img src="~/images/vk.png" width="20" height="20px" /></div> /ShoppointArmenia</div>

</div>